{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Logicadeprogramação
{% endblock %}

{% block content %}
    <div class="z-10 h-full py-32 md:py-0 text-red-600 text-center flex items-center flex-col">
        <div class="py-40">
            <h1 class="font-semibold text-4xl md:text-5xl w-10/12 md:w-3/4 text-center ">
                 STUDYPLUS
            </h1>
            <h2 class="text-white font-semibold w-9/12">
                LOGICA DE PROGRAMAÇÃO
            </h2>
        </div>
    </div>
{% endblock %}